* {
    font-family: Lato;
  }
  
  ngx-dropzone,
  .custom-dropzone {
    margin: 20px;
  }
  
  .custom-dropzone {
      height: 250px;
      background: rgb(236, 233, 233);
      color: #fff;
      border: 3px dashed rgb(216, 214, 214);
      border-radius: 5px;
      font-size: 20px;
  }
  
  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(235, 79, 79);
  }